@use './abstracts' as *;
@use './base/typography';

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	// height: 100%;
	margin: 0;
	// font-family: $ff;
	font-size: 18px;
	background: $Bittersweet;
}

nav {
	display: none;
}
// Fraunces 700, 900

.fraunces {
	font-family: 'Fraunces', serif;
}

img {
	width: 100%;
	display: block;
}

.testimonials img {
	width: auto;
}

header {
	background: $hero-blue;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 2rem 1.5rem 0;

	.hamburger,
	.logo {
		width: auto;
	}

	.hamburger {
		height: 80%;
	}
}

main {
	position: relative;

	h1 {
		position: absolute;
	}
}
