$cyan: hsl(180, 62%, 55%);
$red: hsl(0, 78%, 62%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

$dark: hsl(234, 12%, 34%);
$mid: hsl(229, 6%, 66%);
$light: hsl(0, 0%, 98%);

*, *::before, *::after {
  box-sizing: border-box;
}

html {
height: 100%;
}

body {
  min-width: 375px;
  margin: 0;
  padding: 1.5rem;
  height: 100%;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  display: grid;
  place-items: center;
}

main {
  padding: 3rem 0;
}

.text-first, .text-second, .text-description {
  text-align: center;
}

.text {
  // ! margin: 3rem 0;
}

.text-first {
  font-weight: 200;
  color: $mid;
  display: block;
  margin: 0;
  font-size: 1.6rem;
}

.text-second {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 600;
  color: $dark;
  font-size: 1.6rem;
}

.text-description {
  color: $mid;
  font-size: 1rem;
  margin-bottom: 3rem;
  margin-top: 0;
}

.card h2 {
  font-size: 1rem;
  color: $dark;
  margin-top: 0;
}

.card p {
  color: $mid;
  font-size: .86rem;
}

.card img {
  max-width: 50px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-top: 1.5rem;
}

.cards-con {
  list-style: none;
  padding-left: 0;
}

.card {
  box-shadow: 0 10px 18px 1px hsla(229, 6%, 66%, 0.487);
  margin-top: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 8px;
}

.card:first-child {
  border-top: 3px solid $cyan;
  margin-top: 0;
}

.card:nth-child(2) {
  border-top: 3px solid $red;
}

.card:nth-child(3) {
  border-top: 3px solid $orange;
}

.card:last-child {
  border-top: 3px solid $blue;
}

@media (min-width: 1440px) {
  .text-description {
    margin-bottom: 0;
  }

  .text {
    max-width: 550px;
    margin: 0 auto 0;
    align-self: center;
  }

  main {
    max-width: 75%;
    height: 100%;
    padding: 0;
    display: grid;
    align-items: center;
    grid-template-rows: 220px auto;

  }

  .card p {
    font-size: .7rem;
  }

  .cards-con {
    display: grid;
    // grid-template-areas:
    // ".... .... .... .... red    red    red    red    .... .... .... ...."
    // ".... .... .... .... red    red    red    red    .... .... .... ...."
    // "cyan cyan cyan cyan red    red    red    red    blue blue blue blue"
    // "cyan cyan cyan cyan red    red    red    red    blue blue blue blue"
    // "cyan cyan cyan cyan orange orange orange orange blue blue blue blue"
    // "cyan cyan cyan cyan orange orange orange orange blue blue blue blue"
    // ".... .... .... .... orange orange orange orange .... .... .... ...."
    // ".... .... .... .... orange orange orange orange .... .... .... ...."
    // ;
    // grid-template-columns: repeat(12, 57px);
    // grid-template-rows: repeat(8, 30px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
    align-self: flex-start;

  }

  .supervisor {
    grid-column: 1/2;
      grid-row: 1/3;
      align-self: center;
  }

  .team-builder {
    grid-column: 2/3;
      grid-row: 1/2;
    margin-top: 0;
  }

  .karma {
    grid-column: 2/3;
      grid-row: 2/3;
    margin-top: 0;
  }

  .calculator {
    grid-column: 3/4;
      grid-row: 1/3;
    margin-top: 0;
    align-self: center;
  }
}
