/* josefin-sans-300 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
    url('../fonts/josefin-sans-v25-latin-300.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/josefin-sans-v25-latin-300.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* josefin-sans-regular - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/josefin-sans-v25-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/josefin-sans-v25-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* josefin-sans-600 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('../fonts/josefin-sans-v25-latin-600.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/josefin-sans-v25-latin-600.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

$eunry: #ce9797;
$bittersweet: #f96262;

$eclipse: #413a3a;

$grad1: Linear,
135deg,
from hsl(0, 0%, 100%),
to hsl(0, 100%, 98%);

$grad2: Linear,
135deg,
from hsl(0, 80%, 86%),
to hsl(0, 74%, 74%);

$ff: 'Josefin Sans', sans-serif;
$fw-lightest: 300;
$fw-mid: 400;
$fw-bold: 600;


*, *::before, *::after {
  box-sizing: border-box;
}

html {
height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: $ff;
  font-size: 16px;
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 0.644) 0%, rgba(255, 233, 231, 0.553) 100%);

}

.sub__logo-con {
  margin: 2rem;
}

.sub__logo-con img {
  width: 110px;
}

.sub__text-con {
  max-width: 375px;
  // background: red;
  display: grid;
  place-items: center;
  padding-bottom: 2rem;
  margin: 0 auto;
}

.sub__img-con img {
  display: block;
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
}

.sub__title {
  margin-top: 4rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: $fw-mid;
  letter-spacing: 12px;
  font-size: 2.6rem;
  text-align: center;
}

.sub__title span {
  font-weight: $fw-lightest;
  color:$eunry;
}

.sub__description {
  margin-top: 0;
  color: $eunry;
  text-align: center;
  padding: 0 2rem;
  font-size: .9rem;
  line-height: 1.6;
}

.sub__input {
  margin: 2rem auto 0;
  display: flex;
  margin: 0 auto;
  margin-left: 2rem;
  width: 91%;
  margin-top: 1rem;
}

#sub__email {
  border-style: solid;
  border-color: $eunry;
  border-width: 1px;
  border-radius: 55px;
  box-shadow: none;
  padding: .8rem;
  padding-left: 1.2rem;
  opacity: 50%;
  position: relative;
  width: 100%;
  justify-self: center;
}

input[type="text"]::placeholder {
  font-family: $ff;
}

input::placeholder {
  padding-left: .6rem;
  color: $eunry;
}

input {
  box-shadow: none !important;
  color: $eunry;
  position: relative;
  display: inline-block;
}

input:invalid {
  outline: 3px solid red;
}

input:focus {
  outline: 3px solid rgb(246, 178, 177);
  opacity: 1;
  // padding: 0;
  height: 50%;
  box-shadow: 0 10px 5px 20px $eclipse;

  input {
    height: 90%;
  }
}

button {
  background: rgb(246, 178, 177);
  background: linear-gradient(142deg, rgb(243, 202, 202) 0%, rgba(238, 144, 144, 1) 100%);
  border: none;
  border-radius: 30px;
  padding: 0 1.5rem;
  position: relative;
  right: 2.2rem;
  box-shadow: 0 10px 30px 0 #ce979779;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.error-img {
  display: none;
  position: relative;
  width: 25px;
  height: 25px;
  left: -130px;
  top: 10px;
}

.error {
  display: none;
  position: relative;
  color: rgb(221, 113, 113);
  margin-left: 3rem;
  margin-top: .8rem;
  font-size: .9rem;
  justify-self: flex-start;
}

@media (min-width: 600px) {
  .sub__text-con {
    // max-width: 500px;
  }
}

@media (min-width: 1440px) {
  .sub__con {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 3rem;
    background-image: url('../images/bg-pattern-desktop.svg');
    background-size: cover;
  }
  .sub__logo-con {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 3rem;
    margin-bottom: 0;
  }

  .sub__logo-con img {
    width: 20%;
    margin-top: 2rem;
    margin-left: 5rem;
  }

  .sub__img-con img {
    max-width: 100%;
    margin: 0;
  }

  .sub__img-con {
    grid-column: 2/3;
    grid-row: 1/-1;
  }

  .sub__text-con {
    margin-top: -10rem;
    grid-column: 1/2;
    grid-row: 2/4;
    max-width: 100%;
    grid-template-columns: 82%;
    grid-template-rows: 330px 100px 200px;
    // background: rgba(38, 255, 0, 0.316);
    justify-items: flex-start;
    margin-left: 3rem;
    padding: 0 5rem;
  }

  .sub__title, .sub__description {
    text-align: left;
  }

  .sub__title {
    // justify-self: center;
    width: 50%;
    font-size: 4.5vw;
    // line-height: 1;
    // margin-top: 4rem;
    align-self: flex-end;
  }

  .sub__description {
    margin-top: .5rem;
    align-self: flex-start;
    padding-left: 0;
    font-size: 1rem;
    line-height: 2;
    // letter-spacing: 1px;
    // width: 87%;
  }

    .sub__input {
    position: relative;
    max-width: 100%;
    margin-top: 2rem;
    // ! part of text's grid fixed row height
    align-self: flex-start;
    justify-content: stretch;
    // ! -------------------------------------->
    margin-left: 0;

    }

    // .sub__title, .sub__description, .sub__logo-con, .sub__input {
    //   margin-left: 8rem;
    // }

    #sub__email {
      max-width: 95%;
      padding: 1.2rem;
      font-size: 1rem;
      // padding-left: 2rem;
    }

    .sub__submit {
      padding: 1.2rem 3rem;
      position: absolute;
      right: 0px;
      // margin-left: 2rem;
    }

    .error-img {
      margin-top: .3rem;
      width: 30px;
      height: 30px;
    }

    .error {
      position: relative;
      color: rgb(221, 113, 113);
      margin-left: 10rem;
      font-size: 1rem;
    }

    .sub__con {

    }
}
