*,
::after,
::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(0deg, #6462e7 0%, rgba(175, 104, 234, 1) 100%);
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  color: hsl(238, 29%, 16%);
  font-size: 12px;
}

@media (min-width: 1440px) {
  body {
    font-size: 14px;
  }
}

.card-con {
  margin: 0 auto;
  width: 330px;
  position: relative;
  /* height: 100%; */
}

@media (min-width: 1440px) {
  .card-con {
    width: 960px;
    /* height: 700px; */
  }
}

.FAQ {
  margin: 2rem 0;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding-top: .5rem;
  /* outline: 1px solid black; */
}

@media (min-width: 1440px) {
  .FAQ {
    margin: 0;
    padding: 0;
    padding-left: 30rem;
    text-align: left;
  }
}

.illu-mobile {
  width: 250px;
  position: absolute;
  top: -115px;
  left: 40px;
  filter: drop-shadow(0em 2em 1px #f0f0fc);
  /* box-shadow: 0px 10px 10px; */
}

.illu-desktop {
  display: none;
}

@media (min-width: 1440px) {
  .illu-mobile {
    display: none;
  }

  .illu-desktop {
    display: block;
    position: absolute;
    width: 454px;
    left: -80px;
    top: 57px;
    clip-path: polygon(100% 0%, 100% 100%, 17.5% 100%, 17.5% 0%);
    z-index: 2;
  }
}

.box {
  display: none;
}

@media (min-width: 1440px) {
  .box {
    display: block;
    position: absolute;
    z-index: 5;
    width: 175px;
    top: 190px;
    left: -85px;
  }

}

.shadow {
  display: none;
}

@media (min-width: 1440px) {
  .shadow {
    display: block;
    position: absolute;
    width: 886px;
    top: -267px;
    left: -514px;
    z-index: 1;
    clip-path: polygon(58% 31%, 100% 31%, 100% 100%, 58% 100%);
  }
}

.card {
  background: white;
  border-radius: 20px;
  padding: 2rem 1.5rem;
  /* padding-bottom: 3rem; */
  margin-top: 10rem;
  padding-top: 5rem;
  box-shadow: 0 10px 30px 10px #494949a3;
  /* padding-bottom: 2rem; */
}

@media (min-width: 1440p) {
  .card {
    padding: 0;
    margin: 0;
    padding: 3rem 0;
    padding-right: 2rem;
  }
}

.question:active {
  font-weight: 700;
}

.hr {
  background: hsl(240, 5%, 91%);
  height: 1px;
  width: 275px;
}

@media (min-width: 1440px) {
  .hr {
    width: 342px;
  }
}

ul {
  list-style: none;
}

.accordion__label {
  display: block;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
  padding: 1rem 0;
  /* padding-top: .5rem; */
}

@media (min-width: 1440px) {
  .accordion__label:hover {
    color: hsl(14, 88%, 65%);
    transition: ease-in-out .2s;
  }

  /* ! //////////////////////////////////////////////////////////////// */
  .accordion__label:hover~.box {
    right: 30px;
  }
}

.accordion__label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 6px;
  right: -10px;
  background-image: url('images/icon-arrow-down.svg');
  /* background-size: contain; */
  transition: transform 0.4s;
  /* border-radius: 5px; */
}

.accordion__content {
  line-height: 1.3;
  display: none;
  font-size: .7rem;
  color: hsl(0, 0%, 53%);
  width: 85%;
}

@media (min-width: 1440p) {
  .accordion__content {
    max-width: 50%;
    outline: 1px solid purple;
  }
}

.accordion__content p {
  margin: 0;
  /* margin-bottom: 1rem; */
}

.accordion__input {
  display: none;
}

.accordion__input:checked~.accordion__content {
  display: block;
}

ul {
  padding-left: 0;
}

@media (min-width: 1440px) {
  ul {
    padding-left: 30rem;
  }
}

.accordion__input:checked~.accordion__label::after {
  transform: translateY(-50%) rotate(0.5turn);
}

.accordion__input:checked~.accordion__label {
  font-weight: 700;
}

li {
  list-style: none;
}

@media (min-width: 1440px) {
  li {
    width: 75%;
  }
}