nav {
	display: none;
}

header {
	background: $hero-blue;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 2rem 1.5rem 0;

	.hamburger,
	.logo {
		width: auto;
	}

	.hamburger {
		height: 80%;
	}
}
