@use '../abstracts/_abstracts' as *;

$li-padding: 1rem;
$gap: 1rem;

main {
	position: relative;
	top: 1.5rem;
	margin: 0 auto;
	border-radius: 5px;
	// background: red;
}

.delete {
	display: flex;
	align-items: center;
	svg {
		scale: 0.7;
	}
}

.icon-text {
	display: flex;
	gap: $gap;
	align-items: center;
}

.empty-circle,
.checked-circle,
.circle {
	width: 1.3rem;
	height: 1.3rem;
	border-radius: 50%;
}

.checked-circle {
	border: none;
	display: grid;
	place-items: center;
	background-image: $gradient;
}

.new-todo {
	border: 0;
	align-self: center;

	&::placeholder {
		left: 0;
	}

	&:focus-visible {
		border: none;
		outline: none;
	}
}

.new-con,
li {
	padding: $li-padding;
	height: 50px;
	align-items: center;
}

.new-con {
	border-radius: 5px;
	position: absolute;
	top: -4rem;
	width: 100%;
	margin: 0 auto;
	height: 50px;
}

.todos-con {
	margin-bottom: 0;
}

li {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.undone-todo-text,
.done-todo-text {
	align-self: center;
}

.summary {
	padding: $li-padding;
	display: flex;
	justify-content: space-between;
	align-content: center;
	border-radius: 5px;
}

.show {
	position: absolute;
	border-radius: 5px;
	bottom: -4rem;
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: $li-padding;

	.inner-show {
		display: flex;
		justify-content: space-evenly;
		width: 70%;
		margin: 0 auto;
	}
}

.drag-n-drop-con {
	position: absolute;
	bottom: -7rem;
	width: 100%;
}
