.social:nth-of-type(3)::before {
  background: rgb(253, 196, 104);
  background: linear-gradient(72deg, rgba(253, 196, 104, 1) 0%, rgba(223, 73, 150, 1) 100%);
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
}

.handle,
.mode,
.number,
.today span {
  font-weight: 700;
}

.today:first-of-type {
  color: white;
}