$Bittersweet: hsl(7, 99%, 70%);
$Gold: hsl(51, 100%, 49%);
$Plantation: hsl(167, 40%, 24%);
$MidnightBlue: hsl(198, 62%, 26%);
$Jade: hsl(168, 34%, 41%);
$EbonyClay: hsl(212, 27%, 19%);
$ShuttleGray: hsl(213, 9%, 39%);
$Waterloo: hsl(232, 10%, 55%);
$GrayChateau: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);

$hero-blue: #3ebfff;
