html {
  --positive: hsl(163, 72%, 41%);
  --negative: hsl(356, 69%, 56%);

  --fb: hsl(208, 92%, 53%);
  --twt: hsl(203, 89%, 53%);
  --ig: linear-gradient(hsl(37, 97%, 70%) to hsl(329, 70%, 58%));
  --yt: hsl(348, 97%, 39%);

  --transition: .15s linear;

  --bg: hsl(0, 0%, 100%);
  --toggle-circle: hsl(0, 0%, 100%);
  --toggle-bg: hsl(230, 22%, 74%);
  --heading: hsl(0, 0%, 0%);
  --header-text: hsl(228, 12%, 44%);
  --WTV: hsl(225, 100%, 98%);
  --card: hsl(227, 47%, 96%);
  --txt-1: hsl(227, 47%, 96%);
  --txt-2: hsl(228, 12%, 44%);
  --txt-overview-num: hsl(0, 0%, 0%);
  --txt-overview-title: hsl(228, 12%, 44%);
  --txt-followers: hsl(228, 34%, 66%);
}

html[data-theme="dark"] {
  --bg: hsl(230, 17%, 14%);
  --toggle-circle: hsl(230, 17%, 14%);
  --toggle-bg-backup: rgba(62, 218, 130, 1);
  --toggle-bg: linear-gradient(31deg, rgba(62, 218, 130, 1) 0%, rgba(55, 143, 230, 1) 100%);
  --heading: hsl(0, 0%, 100%);
  --header-text: hsl(228, 34%, 66%);
  --WTV: hsl(232, 19%, 15%);
  --card: hsl(228, 28%, 20%);
  --txt-1: hsl(228, 34%, 66%);
  --txt-2: hsl(0, 0%, 100%);
  --txt-overview-num: hsl(0, 0%, 100%);
  --txt-overview-title: hsl(228, 34%, 66%);
  --txt-followers: hsl(228, 34%, 66%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: var(--transition);
}

.App {
  background: var(--bg);
  padding: 1.5rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: var(--bg);
  transition: .15s linear;
}

h1 {
  margin: 0;
  margin-bottom: 0.5rem;
  color: var(--heading);
}

.mode,
.total {
  color: var(--header-text);
}

.ball {
  background: var(--toggle-circle);
}

header h1 {
  color: var(--heading);
}

#checkbox+label {
  background: var(--toggle-bg-backup);
  background: var(--toggle-bg);
}

.social,
.overview-item {
  background: var(--card);
}


.handle,
.followers {
  color: var(--txt-followers);
}

.number {
  color: var(--heading);
}

h2 {
  color: var(--txt-2);
}

.ov-title {
  color: var(--txt-overview-title);
}

.ov-number {
  color: var(--txt-2);
}

@media (min-width: 1440px) {
  .App {
    max-width: 80vw;
    margin: 0 auto;
  }

  .header-left {
    display: flex;
    flex-direction: column;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
  }

  .toggler {
    margin-left: 1rem;
  }

  .toggler-con {
    align-items: center;
  }

  h1 {
    margin-bottom: .4rem;
  }

  header {
    padding-top: .8rem;
    margin-bottom: .9rem;
  }

  .bg {
    width: 100vw;
    height: 25vh;
    background-color: var(--WTV);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
  }

  .social,
  h1,
  .total,
  .mode,
  .toggler {
    position: relative;
    z-index: 5;
  }

  .followers {
    font-size: .7rem;
    margin-top: .3rem;
    margin-bottom: .5rem;
  }

  h1 {
    font-size: 2.2rem;
  }

  .total {
    font-size: 1.05rem;
  }

  h2 {
    font-size: 1.95rem;
  }
}

.social:nth-of-type(3)::before {
  height: 5px;
  border-radius: 5px 5px 0 0;
}